<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
    Copyright (c) 2025 Eurotech and/or its affiliates and others

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0

    SPDX-License-Identifier: EPL-2.0

    Contributors:
     Eurotech

-->
<target name="kura-wires Target Definition" sequenceNumber="1">
    <locations>
        <location includeDependencyDepth="direct" includeDependencyScopes="compile,test" missingManifest="ignore" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>org.eclipse.kura</groupId>
                    <artifactId>kura-pde-deps</artifactId>
                    <version>6.0.0-SNAPSHOT</version>
                    <type>pom</type>
                </dependency>
                <dependency>
                    <groupId>org.eclipse.kura</groupId>
                    <artifactId>target-platform-pde-deps</artifactId>
                    <version>6.0.0-SNAPSHOT</version>
                    <type>pom</type>
                </dependency>
            </dependencies>
            <repositories>
                <repository>
                    <id>kura-addons</id>
                    <name>Kura Addons Maven Repository</name>
                    <url>https://raw.githubusercontent.com/eurotech/kura_addons/mvn-repo</url>
                </repository>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2/</url>
                </repository>
                <repository>
                    <id>jitpack.io</id>
                    <url>https://jitpack.io</url>
                </repository>
            </repositories>
        </location>
    </locations>
</target>
